@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --padding-container:100px 0;
    --color-title:#001A49;
}


body{
    font-family: 'RaleWay','Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/banner.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__logo{
    line-height: 0;
    text-align: center;
}
.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav__items{
    list-style: none;
}
.nav_links{
    color:#fff;
    text-decoration:none;
}
.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}
.nav__close {
    display: var(--show, none);
}

/*HERO CONTAINER */

.hero__container{
    max-width: 800px;
    --pading-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero__title{
    font-size: 3rem;

}
.hero__paragraph{
    margin-bottom:20px;

}

.cta{
    display: inline-block;
    background-color: #000;
    justify-self: center;
    color:whitesmoke;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 15px;
}

/*ABOUT */

.about{
    text-align: center;
}
.subtitle{
    color:var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}



.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap:1em;
    overflow:hidden;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;  
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    

}

.about__icon{
    padding:5px;
    background-color: black ;
    border-radius: 100%;
    width: 50px;
}


/*KNOWLEDGE*/

.knowledge{
background-color: #e5e5f7;
opacity: 0.9;
background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    align-items: center;
    margin-left: 25px;
    margin-right: 20px;
}

.knowledge__picture{
    width: 500px;
    max-width: 500px;
}
.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}
.cta2{
    display: inline-block;
    background-color: #001A49;
    justify-self: center;
    color:whitesmoke;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
}
/* Section About us */


.aboutus {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow:hidden;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    text-align: center; 
    padding-bottom: 6%;
    

}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: all 0.3s ease;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    justify-items: center;  
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.card img {
    width: 60px;
    height: 60px;
}

.card h3 {
    margin: 20px 0 10px;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    color: #666;
}

.card:hover {
    transform: translateY(-10px);
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-bottom: 8px solid #00aaff;
}


/*PRICES */

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap:2.5em;
    justify-content: space-evenly;
    align-items: center;

}
.price__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan:#696871;   
    --color-price: #1D293F;
    --bg-cta:#fff;
    --color-cta:#5454D4;    
    --color-items:#686971;
}
.price__element--best{
    background-color: #FF7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-cta: #9F3919;
    --color-cta: #fff;
    --color-items: #fff;
}

.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 400;

}

.price__price{
    font-size: 2.5rem;
    color:var(--color-price);

}

.price__items{
    margin-top: 35px;
    display: grid;
    gap:1em;
    font-weight: 300;
    font-size:1.3rem;
    margin-bottom: 50px;
    color: var(--color-itemss);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;  
    background-color: var(--bg-cta);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0,0,0, .5);
}